/*
- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif; 
}

p {
  font-size: 16px;
}

body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%)
}

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vh;
  background: hsl(216, 50%, 16%);
  border-radius: 10px;
}

.image {
  height: 255px;
  border-radius: 10px;
}

.main-img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.icon-view {
  position: absolute;
  top: 147px;
  left: 165px;
  height: 255px;
  width: 290px;
  transform: translate(-50%, -50%);
  background-color:hsl(178, 100%, 50%, 60%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.icon-view:hover {
  opacity: 1;
  cursor: pointer;
}

.icon-view img {
  width: 40px;
  height: 40px;
}

.content {
  display: flex;
  flex-flow: column wrap;
  padding: 20px;
}

.text-content {
  font-size: 18px;
  padding: 20px 0;
  color: #fff;
  font-weight: 400;
}

.text {
  width: 100%;
  font-size: 17px;
  padding: 0 0 20px 0;
}

div img {
  margin-right: 5px;
}

.espaco {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.espaco div {
  display: flex;
}

.value {
  color: hsl(178, 100%, 50%);
}

.between {
  width: 100%;
  overflow: hidden;
  color: hsl(215, 32%, 27%);
  margin-bottom: 10px;
}

footer p {
  text-align: center;
  align-items: center;
  padding: 10px;
}

.footer {
  height: 30px;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 30px
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.destaque {
  color: #fff;
}

.text-content:hover, .destaque:hover {
  color:hsl(178, 100%, 50%);
  cursor: pointer;
}